server {
  listen 80;
  listen [::]:80;
  server_name localhost *.ic0.local;

  return 301 https://$host$request_uri;
}

server {
  listen 443 ssl http2;
  ssl_certificate /etc/ssl/cert.pem;
  ssl_certificate_key /etc/ssl/key.pem;
  server_name localhost *.ic0.local;

  location / {
    root /usr/share/nginx/html;
    index  index.html;
  }

  location /api/ {
    proxy_pass https://ic0.app;
  }
}
