[Unit]
Description=Monitor power consumption
Requires=node_exporter.service
After=node_exporter.service

[Service]
Type=oneshot
ExecStart=/opt/ic/bin/monitor-power.sh

[Install]
WantedBy=multi-user.target
