[Unit]
Description=Monitor NVMe SMART log info 
Before=node_exporter.service

[Service]
Type=oneshot
ExecStart=/opt/ic/bin/monitor-nvme.sh

# Disable systemd start and stop logs
LogLevelMax=1
SyslogLevel=2

[Install]
WantedBy=multi-user.target
