[Unit]
Description=Monitor power consumption
Before=node_exporter.service

[Service]
Type=oneshot
ExecStart=/opt/ic/bin/monitor-power.sh

# Disable systemd start and stop logs
LogLevelMax=1
SyslogLevel=2

[Install]
WantedBy=multi-user.target
