# This unit is overridden to remove BindsTo

[Unit]
Description=File System Check on /dev/mapper/var_crypt
Documentation=man:systemd-fsck@.service(8)
DefaultDependencies=no
BindsTo=dev-mapper-var_crypt.device
Conflicts=shutdown.target
Wants=systemd-fsckd.socket
After=dev-mapper-var_crypt.device systemd-fsck-root.service local-fs-pre.target systemd-fsckd.socket
Before=systemd-quotacheck.service shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/systemd/systemd-fsck /dev/mapper/var_crypt
TimeoutSec=infinity
