# This unit is overridden to remove the BindsTo on the underlying crypt device.
# Otherwise, it is the same as the systemd generated default. We suspect the
# device flapping in udev can lead to the mount locking up.

[Unit]
Description=File System Check on /dev/mapper/var_crypt
Documentation=man:systemd-fsck@.service(8)
DefaultDependencies=no
Conflicts=shutdown.target
Wants=systemd-fsckd.socket
After=dev-mapper-var_crypt.device systemd-fsck-root.service local-fs-pre.target systemd-fsckd.socket
Before=systemd-quotacheck.service shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/systemd/systemd-fsck /dev/mapper/var_crypt
TimeoutSec=infinity
