[Unit]
Description=Setup networking configuration for HostOS
After=systemd-modules-load.service
After=systemd-udev-settle.service
Wants=systemd-udev-settle.service
Before=network.target network-online.target
Before=systemd-networkd-wait-online.service

[Service]
Type=oneshot
ExecStart=/opt/ic/bin/setup-networking.sh HostOS
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
