[Unit]
Description=Setup networking configuration for HostOS
After=systemd-modules-load.service
After=systemd-udev-settle.service
Wants=systemd-udev-settle.service
Before=network.target network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/ic/bin/setup-networking.sh HostOS

[Install]
WantedBy=multi-user.target
