[Unit]
Description=Setup networking configuration for SetupOS
Wants=network-online.target
After=network.target network-online.target
Before=setupos.service

[Service]
Type=oneshot
ExecStart=/opt/ic/bin/setup-networking.sh SetupOS
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
