[Unit]
Description=Monitor power consumption on a regular basis

[Timer]
Unit=monitor-power.service
OnCalendar=minutely

[Install]
WantedBy=timers.target
