[Unit]
Description=nft counter export timer
Requires=nft-exporter.service

[Timer]
OnBootSec=60s
OnUnitActiveSec=60s
Unit=nft-exporter.service

[Install]
WantedBy=timers.target
