[Unit]
Description=Set up ssh account keys
After=bootstrap-ic-node.service
Requires=bootstrap-ic-node.service
Before=ssh.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/dfinity/setup-ssh-account-keys.sh
