[patch.crates-io]
# Current jsonrpc version (0.12.1) does not support ipv6 addressing. When new version is
# released this can be removed.
jsonrpc = { git = "https://github.com/apoelstra/rust-jsonrpc", rev = "e42044d" }
ic-agent = { git = "https://github.com/dfinity/agent-rs", rev = "c498e1253520b1509924793af7e27b7b8b50fc0f" }
ic-certification = { git = "https://github.com/dfinity/response-verification", rev = "0d472818e35aff152ae8d1bf482da26b97334494" }
ic-cbor =  { git = "https://github.com/dfinity/response-verification", rev = "0d472818e35aff152ae8d1bf482da26b97334494" }
