# New top-level dir creation requires approvals from codeowners.
# [Root-Level]
* @dfinity/ic-owners-owners

# [Misc]
/.devcontainer/           @dfinity/idx
/buf.yaml                 @dfinity/core-protocol
/cpp/                     @dfinity/node
/licenses/                @dfinity/idx
/bin/                     @dfinity/idx
/bin/fuzzing/             @dfinity/core-protocol

# [Bazel]
.bazelrc                           @dfinity/idx
.bazelversion                      @dfinity/idx
/bazel/                            @dfinity/idx
/bazel/fuzz_testing.bzl            @dfinity/idx @dfinity/core-protocol
/BUILD.bazel                       @dfinity/idx
/third_party/                      @dfinity/idx
/MODULE.bazel                      @dfinity/idx
/PULL_REQUEST_BAZEL_TARGETS        @dfinity/idx

# [Rust Lang]
rust-toolchain.toml       @dfinity/core-protocol
rustfmt.toml              @dfinity/core-protocol
deny.toml                 @dfinity/core-protocol
clippy.toml               @dfinity/core-protocol

# [Golang]
go.mod                    @dfinity/idx
go.sum                    @dfinity/idx

# [DevEnv]
.vscode/                  @dfinity/idx

.claude/                  @dfinity/idx

# [Publishing-Artifacts]
/publish/ @dfinity/idx

# [Packages]
/packages/canlog/                               @dfinity/defi
/packages/canlog_derive/                        @dfinity/defi
/packages/icrc-cbor/                            @dfinity/defi
/packages/icrc-ledger-agent/                    @dfinity/defi
/packages/icrc-ledger-client/                   @dfinity/defi
/packages/icrc-ledger-client-cdk/               @dfinity/defi
/packages/icrc-ledger-types/                    @dfinity/defi
/packages/ic-ledger-hash-of/                    @dfinity/defi
/packages/pocket-ic/                            @dfinity/core-protocol
/packages/ic-error-types/                       @dfinity/core-protocol
/packages/ic-dummy-getrandom-for-wasm/          @dfinity/core-protocol
/packages/ic-ed25519/                           @dfinity/core-protocol
/packages/ic-ethereum-types/                    @dfinity/defi
/packages/ic-heap-bytes/                        @dfinity/core-protocol
/packages/ic-heap-bytes-derive/                 @dfinity/core-protocol
/packages/ic-hpke/                              @dfinity/core-protocol
/packages/ic-http-types/                        @dfinity/defi
/packages/ic-management-canister-types/         @dfinity/core-protocol
/packages/ic-metrics-assert/                    @dfinity/defi
/packages/ic-pub-key/                           @dfinity/core-protocol
/packages/ic-secp256k1/                         @dfinity/core-protocol
/packages/ic-secp256r1/                         @dfinity/core-protocol
/packages/ic-sha3/                              @dfinity/core-protocol
/packages/ic-signature-verification/            @dfinity/core-protocol
/packages/ic-vetkd-utils/                       @dfinity/core-protocol

# [IC-OS]
/ic-os/                                                                 @dfinity/node
/toolchains/                                                            @dfinity/node

# [metrics-proxy]
/ic-os/components/monitoring/metrics-proxy/      @dfinity/dre

# [GitHub-Ci]
/.github/                                                                @dfinity/idx
/.github/workflows/                                                      @dfinity/idx
/.github/workflows/container-scan-nightly.yml                            @dfinity/idx @dfinity/node
/.github/workflows/ledger-suite-release.yml                              @dfinity/defi @dfinity/idx
/.github/workflows/publish-crates.yml                                    @dfinity/idx @dfinity/security
/.github/workflows/repro-check.yml                                       @dfinity/dre @dfinity/idx
/.github/workflows/rosetta-release.yml                                   @dfinity/defi @dfinity/idx
/.github/CODEOWNERS                                                      @dfinity/ic-owners-owners
.github/repo_policies/EXTERNAL_CONTRIB_BLACKLIST                         @dfinity/idx @dfinity/security
/ci/                                                                     @dfinity/idx
/ci/src/dependencies/                                                    @dfinity/node
/ci/src/dependencies/integration/github/github_api.py                    @dfinity/idx @dfinity/node
/ci/src/dependencies/integration/github/github_dependency_submission.py  @dfinity/idx
/ci/src/dependencies/job/bazel_rust_gh_submission_job.py                 @dfinity/idx
/ci/src/dependencies/parser/                                             @dfinity/idx
/ci/scripts/repro-check                                                  @dfinity/dre
/.pre-commit-config.yaml                                                 @dfinity/idx
/pre-commit/                                                             @dfinity/idx

# [Rust]
/rs/                                                    @dfinity/core-protocol
/rs/artifact_pool/                                      @dfinity/core-protocol
/rs/backup/                                             @dfinity/core-protocol
/rs/bitcoin/                                            @dfinity/defi
/rs/boundary_node/                                      @dfinity/node
/rs/canister_client/                                    @dfinity/core-protocol
/rs/canister_sandbox/                                   @dfinity/core-protocol
/rs/canonical_state/                                    @dfinity/core-protocol
/rs/canonical_state/tree_hash/                          @dfinity/core-protocol
/rs/certification/                                      @dfinity/core-protocol
/rs/config/                                             @dfinity/core-protocol
/rs/consensus/                                          @dfinity/core-protocol
/rs/criterion_time/                                     @dfinity/core-protocol
/rs/cross-chain/                                        @dfinity/defi
/rs/crypto/                                             @dfinity/core-protocol
/rs/cup_explorer                                        @dfinity/core-protocol
/rs/cycles_account_manager/                             @dfinity/core-protocol
/rs/depcheck/                                           @dfinity/core-protocol
/rs/determinism_test/                                   @dfinity/core-protocol
/rs/dogecoin/                                           @dfinity/defi
/rs/embedders/                                          @dfinity/core-protocol
/rs/ethereum/                                           @dfinity/defi
/rs/engine_controller/                                  @dfinity/dre
/rs/execution_environment/                              @dfinity/core-protocol
/rs/fuzzers/                                            @dfinity/core-protocol
/rs/http_endpoints/                                     @dfinity/core-protocol
/rs/http_utils/                                         @dfinity/core-protocol
/rs/https_outcalls/                                     @dfinity/core-protocol
/rs/https_outcalls/consensus/                           @dfinity/core-protocol
/rs/ic_os/                                              @dfinity/node
/rs/ic_os/metrics/fstrim_tool/                          @dfinity/node @dfinity/core-protocol
/rs/ic_os/networking/nss_icos/                          @dfinity/dre
/rs/ingress_manager/                                    @dfinity/core-protocol
/rs/interfaces/                                         @dfinity/core-protocol
/rs/interfaces/registry/                                @dfinity/governance-team
/rs/ledger_suite/                                       @dfinity/defi
/rs/limits/                                             @dfinity/core-protocol
/rs/memory_tracker/                                     @dfinity/core-protocol
/rs/messaging/                                          @dfinity/core-protocol
/rs/migration_canister/                                 @dfinity/core-protocol
/rs/monitoring/                                         @dfinity/core-protocol
/rs/nervous_system/                                     @dfinity/governance-team
/rs/nns/                                                @dfinity/governance-team
/rs/node_rewards/                                       @dfinity/dre
/rs/orchestrator/                                       @dfinity/core-protocol
/rs/orchestrator/src/hostos_upgrade.rs                  @dfinity/core-protocol @dfinity/node
/rs/p2p/                                                @dfinity/core-protocol
/rs/phantom_newtype/                                    @dfinity/core-protocol
/rs/pocket_ic_server/                                   @dfinity/core-protocol
/rs/prep/                                               @dfinity/idx
/rs/protobuf/                                           @dfinity/core-protocol
/rs/protobuf/def/registry/                              @dfinity/governance-team
/rs/protobuf/src/gen/registry/                          @dfinity/governance-team
/rs/query_stats/                                        @dfinity/core-protocol
/rs/recovery/                                           @dfinity/core-protocol
/rs/registry/                                           @dfinity/governance-team
/rs/registry/canister/src/invariants/crypto.rs          @dfinity/core-protocol
/rs/registry/helpers/src/crypto.rs                      @dfinity/core-protocol
/rs/registry/helpers/src/crypto/                        @dfinity/core-protocol
/rs/registry/helpers/src/firewall.rs                    @dfinity/core-protocol
/rs/registry/helpers/src/node.rs                        @dfinity/node
/rs/registry/helpers/src/provisional_whitelist.rs       @dfinity/core-protocol
/rs/registry/helpers/src/routing_table.rs               @dfinity/core-protocol
/rs/registry/helpers/src/subnet.rs                      @dfinity/core-protocol
/rs/registry/helpers/src/unassigned_nodes.rs            @dfinity/core-protocol
/rs/registry/helpers/tests/root_of_trust.rs             @dfinity/core-protocol
/rs/replay/                                             @dfinity/core-protocol
/rs/replica/                                            @dfinity/core-protocol
/rs/replica_tests/                                      @dfinity/core-protocol
/rs/replicated_state/                                   @dfinity/core-protocol
/rs/rosetta-api/                                        @dfinity/defi
/rs/rust_canisters/                                     @dfinity/governance-team
/rs/rust_canisters/backtrace_canister                   @dfinity/core-protocol
/rs/rust_canisters/call_loop_canister                   @dfinity/core-protocol
/rs/rust_canisters/call_tree_test/                      @dfinity/core-protocol
/rs/rust_canisters/canister_creator                     @dfinity/core-protocol
/rs/rust_canisters/downstream_calls_test/               @dfinity/core-protocol
/rs/rust_canisters/load_simulator                       @dfinity/core-protocol
/rs/rust_canisters/memory_test/                         @dfinity/core-protocol
/rs/rust_canisters/messaging_test/                      @dfinity/core-protocol
/rs/rust_canisters/proxy_canister/                      @dfinity/core-protocol
/rs/rust_canisters/response_payload_test/               @dfinity/core-protocol
/rs/rust_canisters/stable_memory_integrity              @dfinity/core-protocol
/rs/rust_canisters/stable_structures/                   @dfinity/core-protocol
/rs/rust_canisters/statesync_test                       @dfinity/core-protocol
/rs/rust_canisters/xnet_test/                           @dfinity/core-protocol
/rs/rust_canisters/xrc_mock/                            @dfinity/defi
/rs/sns/                                                @dfinity/governance-team
/rs/state_layout/                                       @dfinity/core-protocol
/rs/state_machine_tests/                                @dfinity/core-protocol
/rs/state_manager/                                      @dfinity/core-protocol
/rs/state_tool/                                         @dfinity/core-protocol
/rs/sys/                                                @dfinity/core-protocol
/rs/test_utilities/                                     @dfinity/core-protocol
/rs/tests/                                              @dfinity/idx
/rs/tests/idx/                                          @dfinity/idx
/rs/tests/testnets/                                     @dfinity/idx
/rs/tests/testnets/cloud_engine.rs                      @dfinity/dre
/rs/tests/testnets/mainnet_nns/                         @dfinity/core-protocol
/rs/tests/testnets/mainnet_nns.rs                       @dfinity/core-protocol
/rs/tests/testnets/nns_recovery.rs                      @dfinity/core-protocol
/rs/tests/testnets/baremetal_app_subnet.rs              @dfinity/idx @dfinity/node
/rs/tests/driver/src/driver/simulate_network.rs         @dfinity/core-protocol @dfinity/idx
/rs/tests/boundary_nodes/                               @dfinity/node
/rs/tests/ckbtc/                                        @dfinity/defi
/rs/tests/consensus/                                    @dfinity/core-protocol
/rs/tests/cross_chain/                                  @dfinity/defi
/rs/tests/crypto/                                       @dfinity/core-protocol
/rs/tests/dre/                                          @dfinity/dre
/rs/tests/execution/                                    @dfinity/core-protocol
/rs/tests/financial_integrations/                       @dfinity/defi
/rs/tests/message_routing/                              @dfinity/core-protocol
/rs/tests/nested/                                       @dfinity/node
/rs/tests/nested/nns_recovery/                          @dfinity/core-protocol @dfinity/node
/rs/tests/networking/                                   @dfinity/core-protocol
/rs/tests/nns/                                          @dfinity/governance-team
/rs/tests/node/                                         @dfinity/node
/rs/tests/query_stats/                                  @dfinity/core-protocol
/rs/tests/sdk/                                          @dfinity/sdk
/rs/tla_instrumentation/                                @dfinity/core-protocol
/rs/tools/                                              @dfinity/core-protocol
/rs/tools/check_did/                                    @dfinity/defi
/rs/tree_deserializer/                                  @dfinity/core-protocol
/rs/types/                                              @dfinity/core-protocol
/rs/universal_canister/                                 @dfinity/core-protocol
/rs/utils/                                              @dfinity/core-protocol
/rs/utils/ensure/                                       @dfinity/defi
/rs/utils/lru_cache/                                    @dfinity/core-protocol
/rs/utils/thread/                                       @dfinity/core-protocol
/rs/validator/                                          @dfinity/core-protocol
/rs/wasm_transform/                                     @dfinity/core-protocol
/rs/xnet/                                               @dfinity/core-protocol

# [No-Approvals]
# Ghost is a group with no direct members. GitHub will bypass codeowners for files that match ghost ownership.
*.lock
Cargo.toml
.gitignore
stackage_snapshot.json
mainnet-canister-revisions.json # this file is auto-approved by github actions, therefore we remove codeowners
mainnet-icos-revisions.json     # same as above
