[
    {
        "targets": [
            {% for boundary_node in groups['boundary'] -%}
            "{{ hostvars[boundary_node]['ic_registry_replicator_metrics_addr']}}"{{ "," if not loop.last else ""}}
            {% endfor %}
        ],
        "labels": {
            "ic": "{{ ic }}",
            "env": "testnet",
            "service": "ic_registry_replicator"
        }
    }
]
