[
    {
	"targets": [
	    {% for boundary_node in groups['boundary_nodes'] -%}
	    "{{ hostvars[boundary_node]['nginx_metrics_addr']}}"{{ "," if not loop.last else ""}}
	    {% endfor %}
	],
	"labels": {
	    "ic": "{{ ic }}"
	}
    }
]
