server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name {name};

    ssl_certificate     {ssl_certificate_path};
    ssl_certificate_key {ssl_certificate_key_path};

    location / {
        # Observability
        include "includes/request_id.conf";

        # Prereqs
        include "includes/method_get.conf";
        include "includes/denylist_451.conf";

        # CORS
        set $cors_allow_methods "HEAD, GET, OPTIONS";
        include "includes/response_headers.conf";
        include "includes/options.conf";

        # Update the Host header so that icx-proxy is able to process the request
        proxy_set_header Host "$inferred_canister_id.$primary_domain";

        # Cache
        proxy_buffering       "on";
        proxy_cache           "cache_static";
        proxy_cache_key       "$scheme$host$request_uri";
        proxy_cache_valid     "10s";
        proxy_cache_use_stale "off";

        proxy_pass http://icx_proxy;
        include "includes/proxy_headers.conf";

        # Required for clients that have a service worker, which hasn't been uninstalled yet
        add_header "X-Ic-Gateway" "$primary_api_domain" always;
    }
}
