artifacts/
**/target/
**/build/

**/bin/canister_sandbox
**/bin/ic-regedit
**/bin/vsock_agent
**/bin/orchestrator
**/bin/ic-consensus-pool-util
**/bin/replica
**/bin/ic-crypto-csp
**/bin/ic-btc-adapter
**/bin/ic-canister-http-adapter
**/bin/state-tool
**/disk.img
