ansible==6.6.0
cbor>=1.0.0
GitPython>=3.1.24
pybars3>=0.9.7
python-gflags>=3.1.2
PyYAML>=5.4.1
paramiko>=2.11.0
requests>=2.26.0
scp>=0.14.4
six>=1.16.0
termcolor>=1.1.0
absl-py>=0.14.1
toml
https://github.com/rocklabs-io/ic-py/archive/53c375a1d6c1d09e8d24588142dece550b801cef.zip
uuid
pydot
matplotlib>=3.6.2, <3.7
pytest
pytest-cov
cvss==2.5
jira==3.4.1
nested_lookup==0.2.25
node_semver==0.9.0
packaging==21.3
parse==1.19.0
python_gitlab==3.12.0
# gitlab_statistics
pandas
#policy-monitoring
psutil
func-timeout
slack-sdk
elasticsearch
# extra requirements that were previously in docker container, not sure what they are used for (potentially remove later)
honeycomb-beeline
junit-xml
libhoney
pygithub
elasticsearch-dsl
freezegun
mypy
pylint
pytest-shutil
xmltodict
retry
