absl-py>=0.14.1
ansible==6.6.0
cbor>=1.0.0
configargparse
cvss==2.5
fabric
GitPython>=3.1.24
https://github.com/rocklabs-io/ic-py/archive/53c375a1d6c1d09e8d24588142dece550b801cef.zip
icmplib
idracredfishsupport>=0.0.8
invoke
jira==3.4.1
loguru
matplotlib>=3.6.2, <3.7
nested_lookup==0.2.25
node_semver==0.9.0
packaging==21.3
paramiko>=2.11.0
parse==1.19.0
pybars3>=0.9.7
pydot
pytest
pytest-cov
PyYAML>=5.4.1
requests>=2.26.0
scp>=0.14.4
simple-parsing
six>=1.16.0
termcolor>=1.1.0
toml
tqdm
uuid
PyGithub==2.3.0
# gitlab_statistics
pandas
#policy-monitoring
elasticsearch
func-timeout
psutil
slack-sdk
# extra requirements that were previously in docker container, not sure what they are used for (potentially remove later)
elasticsearch-dsl
freezegun
junit-xml
libhoney
mypy
pylint
pytest-shutil
retry
xmltodict
