[Unit]
Description=Bootstrap the IC node
After=upgrade-shared-data-store.service
Requires=var-lib-ic-data.mount
After=var-lib-ic-data.mount
Requires=var-lib-ic-crypto.mount
After=var-lib-ic-crypto.mount
Requires=var-lib-ic-backup.mount
After=var-lib-ic-backup.mount
Before=setup-ssh-account-keys.service

[Install]
WantedBy=multi-user.target
RequiredBy=setup-ssh-account-keys.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/bootstrap-ic-node.sh

# All services that networking depends on log their outputs to the console 
# and are piped to the host terminal if the verbose flag is enabled.
StandardOutput=journal+console
StandardError=journal+console
