ansible
cbor>=1.0.0
GitPython>=3.1.24
pybars3>=0.9.7
python-gflags>=3.1.2
PyYAML>=5.4.1
requests>=2.26.0
six>=1.16.0
termcolor>=1.1.0
absl-py>=0.14.1
git+https://github.com/dfinity-lab/ic-py@9c8c2b9639c139eb7cfaf613ebd8fe08609aa7dd#egg=ic-py
