ansible==7.0.0
cbor>=1.0.0
GitPython>=3.1.24
pybars3>=0.9.7
python-gflags>=3.1.2
PyYAML>=5.4.1
paramiko>=2.11.0
requests>=2.26.0
scp>=0.14.4
six>=1.16.0
termcolor>=1.1.0
absl-py>=0.14.1
toml
https://github.com/rocklabs-io/ic-py/archive/53c375a1d6c1d09e8d24588142dece550b801cef.zip
uuid
pydot
matplotlib==3.6.2
pytest
