ansible==6.6.0
cbor>=1.0.0
GitPython>=3.1.24
pybars3>=0.9.7
python-gflags>=3.1.2
PyYAML>=5.4.1
paramiko>=2.11.0
requests>=2.26.0
scp>=0.14.4
six>=1.16.0
termcolor>=1.1.0
absl-py>=0.14.1
toml
git+https://github.com/rocklabs-io/ic-py@d363572b7dbd0c8e935ae6fa783fe472a5967cad#egg=ic-py
uuid
pydot
