[Unit]
Description=Monitor GuestOS virtual machine
After=guestos.service

[Service]
Type=oneshot
ExecStart=/opt/ic/bin/monitor-guestos.sh

# Disable systemd start and stop logs
LogLevelMax=1
SyslogLevel=2

[Install]
WantedBy=multi-user.target
