{
  "deployment": {
    "deployment_environment": "mainnet",
    "mgmt_mac": null
  },
  "logging": {
    "elasticsearch_hosts": null,
    "elasticsearch_tags": null
  },
  "nns": {
    "url": ["NNS_URL"]
  },
  "vm_resources": {
    "memory": "490",
    "cpu": "kvm",
    "nr_of_vcpus": 64
  }
}
