{
  "deployment": {
    "name": "mainnet",
    "mgmt_mac": null
  },
  "logging": {
    "hosts": ""
  },
  "nns": {
    "url": "NNS_URL"
  },
  "resources": {
    "memory": "490",
    "cpu": "kvm"
  }
}
