[Unit]
Description=SetupOS config process
Before=generate-network-config.service
Before=setupos.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/output-wrapper.sh /opt/ic/bin/config.sh /dev/ttyS0
StandardOutput=tty
StandardError=tty

[Install]
WantedBy=multi-user.target
