[Unit]
Description=Update grub.cfg file

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/grub-upgrader.sh

[Install]
WantedBy=multi-user.target
