[Unit]
Description=SOCKS (v4 and v5) proxy daemon (danted)
Documentation=man:danted(8) man:danted.conf(5)
Wants=network-online.target
After=network-online.target
After=bootstrap-ic-node.service
Wants=bootstrap-ic-node.service
PartOf=systemd-networkd.service
After=systemd-networkd.service
# Only start if configuration file exists
ConditionPathExists=/etc/danted.conf

[Service]
User=socks
Group=socks
ExecStart=/usr/sbin/danted -f /etc/danted.conf
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
