[Unit]
Description=IC Crypto Service Provider
# We must wait for IC bootstrap to complete: It writes various
# state files and may also be needed to obtain network config.
After=bootstrap-ic-node.service
Wants=bootstrap-ic-node.service
Requires=ic-crypto-csp.socket

[Service]
User=ic-replica
ExecStartPre=+sudo /opt/ic/bin/setup-permissions.sh
ExecStart=/opt/ic/bin/ic-crypto-csp --socket /run/ic-node/crypto-csp/socket
NotifyAccess=main

[Install]
RequiredBy=ic-replica.service
Also=ic-crypto-csp.socket
