[Unit]
Description=Socket for IC Canister HTTP Provider

[Socket]
ListenStream=/run/ic-node/canister-http-adapter/socket
SocketUser=ic-replica
SocketGroup=ic-replica
SocketMode=0660

[Install]
WantedBy=sockets.target
