[Unit]
Description=Process for collecting metrics and sending to IC Monitoring Canister
# We must wait for IC bootstrap to complete: It writes various
# state files and may also be needed to obtain network config.
After=bootstrap-ic-node.service
Wants=bootstrap-ic-node.service
StartLimitIntervalSec=0

[Service]
User=ic-replica
Environment=RUST_BACKTRACE=1
ExecStartPre=+/opt/ic/bin/generate-monitoring-canister-adapter-config.sh -o /run/ic-node/config/ic-monitoring-canister-adapter.json
ExecStart=/opt/ic/bin/ic-monitoring-canister-adapter /run/ic-node/config/ic-monitoring-canister-adapter.json
NotifyAccess=main
#TODO: once this service is complete, we can change to "always"
Restart=on-failure 

[Install]
WantedBy=ic-replica.service