[Unit]
Description=Set up encrypted storage on first boot
DefaultDependencies=no
RequiresMountsFor=/boot/config
Before=cryptsetup-pre.target
Requires=init-config.service generate-store-key.service
After=init-config.service generate-store-key.service
Wants=cryptsetup-pre.target

[Install]
WantedBy=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/setup-encryption.sh
