[Unit]
Description=Prometheus service discovery for {{ ic }}
# Wait for networking to be up, as it needs to contact the NNS
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
StateDirectory=p8s-scrape/ic_networks/replica
StateDirectoryMode=0775
UMask=0002
ExecStart=/opt/dfinity/ic-p8s-service-discovery-{{ ic }}/ic-p8s-service-discovery --discover_every 10s --ic_name {{ ic }} --metrics_addr {{ ic_p8s_service_discovery_metrics_addr }} --nns_urls {% set nodes = groups["nns"] | list %}{% for node in nodes %}{{ hostvars[node].api_listen_url }}{{ "," if not loop.last else "" }}{% endfor %}{% if nns_public_key_remote_path|default('') != '' %} --nns_public_key_path {{ nns_public_key_remote_path }}{% endif %} --log_level debug --log_to_stderr --service_discovery_file /var/lib/p8s-scrape/ic_networks/replica/{{ ic }}_replica_scrape_config.json
Restart=always
User=prometheus
Group=p8s-scrape
LimitNOFILE=8192

[Install]
WantedBy=multi-user.target
