[Unit]
Description=Initialize node data storage
DefaultDependencies=no
RequiresMountsFor=/var/lib/ic/data
After=init-config.service
Before=setup-permissions.service
ConditionPathExists=/run/config/guest_vm_type/default

[Install]
WantedBy=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/upgrade-shared-data-store.sh

# All guestos services that networking depends on log their outputs to the
# console to be piped to the host terminal if the verbose flag is enabled.
StandardOutput=journal+console
StandardError=journal+console
