[Unit]
Description=Bootstrap the IC node
Requires=var-cache-nginx.mount
After=var-cache-nginx.mount
Requires=var-log.mount
After=var-log.mount

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/bootstrap-ic-node.sh
