[Unit]
Description=Bootstrap the IC boundary node

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/bootstrap-boundary-node.sh
