[Unit]
Description=Boundary Node Control Plane
After=syslog.target
After=bootstrap-ic-node.service
After=ic-router-control-plane-watcher.service
Requires=bootstrap-ic-node.service

[Service]
User=root
Group=root
WorkingDirectory=/etc/nginx/ic
ExecStartPre=/usr/bin/bash -c "/usr/bin/systemctl set-environment NNS_URLS=`grep nns_url /boot/config/nns.conf | cut -f 2 -d=`"

# TODO: BOUN-172 nns key for prod vms
ExecStart=/opt/ic/bin/boundary-node-control-plane \
    --nns_urls ${NNS_URLS} \
    --routes_dir /var/cache/ic_routes \
    --metrics_port 9312

Restart=always
RestartSec=10
KillSignal=SIGINT
Environment=RUST_BACKTRACE=1
StartLimitBurst=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
