[Unit]
Description=Certificate Issuer
After=network-online.target
Wants=network-online.target
After=setup-certificate-issuer.service
BindsTo=setup-certificate-issuer.service

[Service]
LogRateLimitIntervalSec=1ms
LogRateLimitBurst=1000
User=root
Group=root
Restart=always
EnvironmentFile=/run/ic-node/etc/default/certificate-issuer
ExecStart=/opt/ic/bin/certificate-issuer \
    --api-addr                  "127.0.0.1:3000"              \
    --root-key-path             "${NNS_KEY_PATH}"             \
    --identity-path             "${IDENTITY_PATH}"            \
    --orchestrator-uri          "${ORCHESTRATOR_URI}"         \
    --orchestrator-canister-id  "${ORCHESTRATOR_CANISTER_ID}" \
    --key-path                  "${KEY_PATH}"                 \
    --delegation-domain         "${DELEGATION_DOMAIN}"        \
    --acme-account-id           "${ACME_ACCOUNT_ID}"          \
    --acme-account-key          "${ACME_ACCOUNT_KEY}"         \
    --cloudflare-api-key        "${CLOUDFLARE_API_KEY}"       \
    --metrics-addr              "[::]:9321"

[Install]
WantedBy=multi-user.target
