[Unit]
Description=Boundary Node Control Plane
After=setup-control-plane.service

[Service]
LogRateLimitIntervalSec=1ms
LogRateLimitBurst=1000
User=root
Group=root
Restart=always
EnvironmentFile=/run/ic-node/etc/default/control-plane
ExecStart=/opt/ic/bin/boundary-node-control-plane \
    --nns-urls "$NNS_URLS" \
    --routes-dir "/var/cache/ic_routes" \
    --metrics-addr "[::]:9312"

[Install]
WantedBy=multi-user.target
