[Unit]
Description=Boundary Node Control Plane
After=network-online.target
Wants=network-online.target
After=setup-control-plane.service
BindsTo=setup-control-plane.service
After=setup-nginx.service
BindsTo=setup-nginx.service

[Service]
LogRateLimitIntervalSec=1ms
LogRateLimitBurst=1000
User=root
Group=root
Restart=always
EnvironmentFile=/run/ic-node/etc/default/control-plane
ExecStart=/opt/ic/bin/boundary-node-control-plane    \
    --local-store                   "${IC_REGISTRY_LOCAL_STORE}" \
    --min-registry-version          "${MIN_REGISTRY_VERSION}" \
    --min-ok-count                  "5" \
    --max-height-lag                "50" \
    --legacy-routes-dir             "/var/cache/ic_routes"    \
    --routes-path                   "/var/opt/nginx/ic/ic_routes.js"      \
    --upstreams-path                "/var/opt/nginx/ic/ic_upstreams.conf" \
    --trusted-certs-path            "/var/opt/nginx/ic/trusted_certs.pem" \
    --nftables-system-replicas-path "/run/ic-node/etc/nftables/system_replicas.ruleset" \
    --nftables-system-replicas-var  "ipv6_system_replica_ips" \
    --metrics-addr                  "[::]:9312"

[Install]
WantedBy=multi-user.target
