[Unit]
Description=Boundary Node Control Plane
After=setup-control-plane.service

[Service]
User=root
Group=root
Restart=always
ExecStartPre=/bin/bash -c '/bin/systemctl set-environment NNS_URLS="$(cat ${NNS_URLS_PATH})"'
ExecStart=/opt/ic/bin/boundary-node-control-plane \
    --nns-urls ${NNS_URLS} \
    --routes-dir "${ROUTES_DIR}" \
    --metrics-addr "${METRICS_ADDR}"

[Install]
WantedBy=multi-user.target
