[Unit]
Description=Boundary Node Denylist Updater
ConditionPathExists=/run/ic-node/etc/default/denylist-updater
After=network-online.target
Wants=network-online.target

[Service]
Restart=always
EnvironmentFile=/run/ic-node/etc/default/denylist-updater
ExecStart=/opt/ic/bin/denylist-updater                    \
    --remote-url   "${DENYLIST_URL}"                      \
    --decode-mode  "nop"                                  \
    --local-path   "/var/opt/nginx/denylist/denylist.map" \
    --pid-path     "/var/run/nginx.pid"                   \
    --metrics-addr "[::]:9318"

[Install]
WantedBy=multi-user.target
