[Unit]
Description=Generate network config
After=bootstrap-boundary-node.service
Before=systemd-networkd.service

[Install]
WantedBy=systemd-networkd.service
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/generate-network-config.sh /boot/config/network.conf /run/systemd/network
