[Unit]
Description=ICX Proxy Service

[Service]
User=root
Group=root
LimitNOFILE=524288
WorkingDirectory=/etc/nginx/ic
Environment="RUST_BACKTRACE=1"
EnvironmentFile=/run/ic-node/etc/default/icx-proxy
ExecStart=/usr/bin/icx-proxy                                           \
    --replica "https://${DOMAIN}/"                                     \
    --replica-resolve "${DOMAIN}=127.0.0.1:443"                        \
    --ignore-url-canister-param                                        \
    --dns-alias "personhood.${DOMAIN}:g3wsl-eqaaa-aaaan-aaaaa-cai"     \
    --dns-alias "personhood.raw.${DOMAIN}:g3wsl-eqaaa-aaaan-aaaaa-cai" \
    --dns-alias "identity.${DOMAIN}:rdmx6-jaaaa-aaaaa-aaadq-cai"       \
    --dns-alias "identity.raw.${DOMAIN}:rdmx6-jaaaa-aaaaa-aaadq-cai"   \
    --dns-alias "nns.${DOMAIN}:qoctq-giaaa-aaaaa-aaaea-cai"            \
    --dns-alias "nns.raw.${DOMAIN}:qoctq-giaaa-aaaaa-aaaea-cai"        \
    --dns-alias "dscvr.${DOMAIN}:h5aet-waaaa-aaaab-qaamq-cai"          \
    --dns-alias "dscvr.raw.${DOMAIN}:h5aet-waaaa-aaaab-qaamq-cai"      \
    --dns-suffix "${DOMAIN}"                                           \
    --dns-suffix "raw.${DOMAIN}"                                       \
    --metrics-addr "[::]:9314"                                         \
    ${SSL_OPTIONS}


Restart=always
RestartSec=10
KillSignal=SIGINT
StartLimitBurst=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
