[Unit]
Description=ICX Proxy Service

[Service]
User=root
Group=root
LimitNOFILE=524288
WorkingDirectory=/etc/nginx/ic
EnvironmentFile=/run/ic-node/etc/icx-proxy/options
EnvironmentFile=/run/ic-node/etc/icx-proxy/ssl.options
ExecStart=/usr/bin/icx-proxy $OPTIONS $SSL_OPTIONS

Restart=always
RestartSec=10
KillSignal=SIGINT
StartLimitBurst=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
