[Unit]
Description=Boundary Node Prober
After=network-online.target
Wants=network-online.target
After=setup-prober.service
BindsTo=setup-prober.service

[Service]
User=prober
Group=prober
Restart=always
ExecStart=/opt/ic/bin/boundary-node-prober                 \
    --routes-dir "/var/cache/ic_routes"                    \
    --wallets-path "/etc/prober/wallets.json"              \
    --identity-path "/run/ic-node/etc/prober/identity.pem" \
    --root-key-path "/run/ic-node/etc/prober/root_key.der" \
    --canister-ttl "24h"                                   \
    --probe-interval "1m"                                  \
    --metrics-addr "[::]:9313"

[Install]
WantedBy=multi-user.target
