[Unit]
Description=Boundary Node Prober Wallets Exporter
After=network-online.target
Wants=network-online.target
After=setup-prober.service
BindsTo=setup-prober.service

[Service]
User=prober
Group=prober
Restart=always
ExecStart=/opt/ic/bin/ic-balance-exporter \
    --wallets-path "/etc/prober-wallets-exporter/wallets.json" \
    --identity-path "/run/ic-node/etc/prober/identity.pem" \
    --root-key-path "/run/ic-node/etc/prober/root_key.der" \
    --scrape-interval "1m" \
    --metrics-addr "[::]:9315"

[Install]
WantedBy=multi-user.target
