[Unit]
Description=Generate BN key pair on first boot
After=boot-config.mount
Requires=boot-config.mount

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/setup-bn-key.sh
