[Unit]
Description=Set up hostname
Before=systemd-networkd.target
DefaultDependencies=no
After=bootstrap-ic-node.service
Before=systemd-networkd.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/setup-hostname.sh

[Install]
WantedBy=multi-user.target
