[Unit]
Description=Setup GeoLite2 Databases
After=bootstrap-ic-node.service
Before=setup-nginx.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/setup-geolite2-dbs.sh

[Install]
WantedBy=multi-user.target
