[Unit]
Description=Setup variable files (e.g. domain) for nginx
DefaultDependencies=no
After=bootstrap-ic-node.service
Before=nginx.service

[Install]
RequiredBy=nginx.service
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/setup-nginx.sh
