[Unit]
Description=Setup listen address for cgi
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/opt/ic/bin/setup-cgi.sh
