[Unit]
Description=Set up encrypted storage on first boot
DefaultDependencies=no
After=boot-grub.mount
Requires=boot-grub.mount
Before=systemd-cryptsetup@vda10\x2dcrypt.service
After=setup-conf-encryption.service

[Install]
WantedBy=local-fs.target
RequiredBy=systemd-cryptsetup@vda10\x2dcrypt.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/setup-encryption.sh
