[Unit]
Description=Set variable files, i.e., nns key, for icx-proxy
Before=systemd-networkd.target
DefaultDependencies=no
After=bootstrap-ic-node.service
Before=systemd-networkd.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/setup-icx-proxy.sh

[Install]
WantedBy=multi-user.target
