[Unit]
Description=Setup Control-Plane
After=bootstrap-ic-node.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/setup-control-plane.sh

[Install]
WantedBy=multi-user.target
