[Unit]
Description=Set variable files (i.e. DENYLIST_URL) for denylist-updater
DefaultDependencies=no
After=bootstrap-ic-node.service
Requires=bootstrap-ic-node.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecCondition=/opt/ic/bin/setup-denylist-updater.sh
ExecStart=/usr/bin/true
