[Unit]
Description=Set variable files (i.e. ELASTICSEARCH_URL) for vector
Before=systemd-networkd.target
DefaultDependencies=no
After=bootstrap-ic-node.service
Before=systemd-networkd.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/setup-vector.sh

[Install]
WantedBy=multi-user.target
