[Unit]
Description=Setup environment files for icx-proxy
DefaultDependencies=no
After=bootstrap-ic-node.service
Before=icx-proxy.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/setup-icx-proxy.sh
