[Unit]
Description=Setup ic-registry-replicator
DefaultDependencies=no
After=bootstrap-ic-node.service
Before=ic-registry-replicator.service

[Install]
RequiredBy=ic-registry-replicator.service
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/setup-ic-registry-replicator.sh
