[Unit]
Description=Set variable files (i.e. DENYLIST_URL) for denylist-updater
DefaultDependencies=no
After=bootstrap-ic-node.service
Before=denylist-updater.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/setup-denylist-updater.sh
