policy_module(fscontext-fixes, 1.0.0)

# This policy module contains fixes for incorrect file contexts that are required
# due to some discrepancies in which the reference policy is used:
#
# - building using "make_ext4fs" instead of "restorecon + mkfs.ext4": file contexts of certain
#   symbolic links and library directories are wrong because make_ext4fs lacks some inference rules
#
# - building a system that may not have all necessary files and not running autorelabel:
#   certain files need to be created at run time

# Under normal circumstances, this socket file is labelled by autorelabel.
# We are not running it, so simply allow syslog to create the socket.

require {
    type syslogd_t, syslogd_var_run_t;
}

allow syslogd_t syslogd_var_run_t : sock_file { create };

# Note: the home dir setup for journalbeat and node_exporter can NOT stay that way --
# they need to move to /var as service home directories because /home will not be
# writable.
