[Unit]
Description=Custom GuestOS metrics
Before=node_exporter.service
After=bootstrap-ic-node.service

[Service]
Type=oneshot
ExecStart=/opt/ic/bin/custom-metrics.sh

[Install]
WantedBy=multi-user.target
