[Unit]
Description=Generate Firewall Configuration
# We must also wait for storage permission fixup to have finished.
After=setup-permissions.service
Wants=setup-permissions.service
Before=nftables.service
Wants=nftables.service

[Service]
Type=oneshot
ExecStart=/opt/ic/bin/setup-nftables.sh -i /opt/ic/share/nftables.template -o /run/ic-node/nftables-ruleset/nftables.conf

[Install]
WantedBy=multi-user.target
