policy_module(misc-fixes, 1.0.0)

# Miscellaneous small fixes for policy (everything not related to systemd
# policy)

###############################################################################
# Mark unconfined_t as permissive for now, until policy development is
# completed.
require { type unconfined_t; }
permissive unconfined_t;

# mount

# We are dealing with vfat filesystem for the configuration injection.
require { type mount_t, dosfs_t; }
allow mount_t dosfs_t : filesystem { getattr };
# Allow basic permissions around umounting
require { type initrc_tmp_t; }
allow mount_t initrc_tmp_t : file { read };

###############################################################################
# partprobe

require { type fsadm_t, dmidecode_exec_t, kernel_t, udev_exec_t; }

# It wants to do something dmidecode -- no good reason, however. Seems to work without.
dontaudit fsadm_t dmidecode_exec_t : file { execute };
# Also wants to retrieve IPC info from kernel. No good reason, and works without.
dontaudit fsadm_t kernel_t : system { ipc_info };
# Also wants udevadm. Again, no good reason, and works without.
dontaudit fsadm_t udev_exec_t : file { execute };
