[Unit]
Description=Update HostOS Configuration
RequiresMountsFor=/boot/config
Before=node_exporter.service
Before=guestos.service

[Service]
Type=oneshot
ExecStart=/opt/ic/bin/config_tool update-config
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
