[Unit]
Description=Certificate Syncer
After=network-online.target
Wants=network-online.target
After=setup-certificate-syncer.service
BindsTo=setup-certificate-syncer.service

[Service]
LogRateLimitIntervalSec=1ms
LogRateLimitBurst=1000
User=root
Group=root
Restart=always
EnvironmentFile=/run/ic-node/etc/default/certificate-syncer
ExecStart=/bin/bash -c '                                                                      \
    /opt/ic/bin/certificate-syncer                                                            \
        --certificates-exporter-uri   "http://localhost:3000/certificates"                    \
        --local-certificates-path     "/var/opt/nginx/certs"                                  \
        --local-configuration-path    "/var/opt/nginx/domains.conf"                           \
        --configuration-template-path "/etc/certificate-syncer/domain.tmpl"                   \
        --metrics-addr                "[::]:9322"                                             \
        ${POLLING_INTERVAL_SEC:+      --polling-interval-sec    "${POLLING_INTERVAL_SEC}"}    \
'

[Install]
WantedBy=multi-user.target
