[Unit]
Description=Crowdsec nftables bouncer
After=network-online.target
Wants=network-online.target
After=setup-crowdsec.service nftables.service
BindsTo=setup-crowdsec.service

[Service]
Type=notify
ExecStart=/usr/bin/crowdsec-firewall-bouncer -c /etc/crowdsec/bouncers/crowdsec-firewall-bouncer.yaml
ExecStartPost=/bin/sleep 0.1
Restart=always
RestartSec=10
LimitNOFILE=65536
KillMode=mixed

[Install]
WantedBy=multi-user.target
