[Unit]
Description=Check Firewall Rule Counters timer
After=nftables.service
Requires=nftables.service

[Timer]
OnUnitActiveSec=60s
Unit=firewall-counter-check.service

[Install]
WantedBy=timers.target
