[Unit]
Description=IC Boundary Reverse Proxy
After=network-online.target
Wants=network-online.target
After=setup-ic-boundary.service
BindsTo=setup-ic-boundary.service

[Service]
LogRateLimitIntervalSec=1ms
LogRateLimitBurst=1000
User=root
Group=root
Restart=always
EnvironmentFile=/run/ic-node/etc/default/ic-boundary
ExecStart=/bin/bash -c ' \
    /opt/ic/bin/ic-boundary \
        --local-store-path /var/opt/registry/store \
        --nns-pub-key-pem /run/ic-node/etc/default/nns_public_key.pem \
        --nns-urls "${NNS_URL}" \
        --http-port 9000 \
        --metrics-addr "[::]:9324" \
        --log-stdout \
        --log-failed-requests-only \
        --nftables-system-replicas-path /run/ic-node/etc/nftables/system_replicas.ruleset \
        --disable-latency-routing \
        --retry-update-call \
        --rate-limit-per-second-per-subnet "1000" \
        --http-client-count "8" \
        ${CACHE_SIZE:+ --cache-size-bytes "${CACHE_SIZE}"} \
        ${CACHE_ITEM_MAX_SIZE:+ --cache-max-item-size-bytes "${CACHE_ITEM_MAX_SIZE}"} \
        ${CACHE_TTL:+ --cache-ttl-seconds "${CACHE_TTL}"} \
'

[Install]
WantedBy=multi-user.target
