[Unit]
Description=ICX Proxy Service
After=network-online.target
Wants=network-online.target
After=setup-icx-proxy.service
BindsTo=setup-icx-proxy.service

[Service]
User=root
Group=root
LimitNOFILE=524288
EnvironmentFile=/run/ic-node/etc/icx-proxy/env
ExecStart=/bin/bash -c ' \
  /opt/ic/bin/icx-proxy                                          \
    --unix-socket /run/ic-node/icx-proxy.socket                  \
    --canister-alias "personhood:g3wsl-eqaaa-aaaan-aaaaa-cai"    \
    --canister-alias "identity:rdmx6-jaaaa-aaaaa-aaadq-cai"      \
    --canister-alias "nns:qoctq-giaaa-aaaaa-aaaea-cai"           \
    --canister-alias "dscvr:h5aet-waaaa-aaaab-qaamq-cai"         \
    --metrics-addr "[::]:9314"                                   \
    --root-key "/run/ic-node/etc/icx-proxy/root_key.der"         \
    --replica-unix-socket /run/ic-node/ic-boundary.socket        \
    --pre-isolation-canisters /run/ic-node/etc/icx-proxy/pre_isolation_canisters.txt \
    --geoip-db /run/ic-node/etc/icx-proxy/GeoLite2-Country.mmdb  \
    ${DENYLIST_URL:+ --denylist-url "${DENYLIST_URL}"}           \
    --denylist-initial /run/ic-node/etc/icx-proxy/denylist.json  \
    --allowlist /run/ic-node/etc/icx-proxy/allowlist.txt         \
    --quiet                                                      \
    ${DOMAINS} \
    ${DOMAINS_SYSTEM} \
    ${DOMAINS_APPLICATION} \
'

Restart=always
RestartSec=10
KillSignal=SIGINT
StartLimitBurst=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
