[Unit]
Description=Node Exporter
After=syslog.target network.target

[Service]
User=node_exporter
Group=node_exporter
EnvironmentFile=/etc/default/node_exporter
Restart=always
ExecStart=/usr/local/bin/node_exporter $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
