[Unit]
Description=Set variable files (i.e. ELASTICSEARCH_URL) for vector
DefaultDependencies=no
After=bootstrap-ic-node.service
Requires=bootstrap-ic-node.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/setup-vector.sh
