[Unit]
Description=Set up ssh account keys
Before=ssh.service
# bootstrap-ic-node.service (if it exists) lists this service as a reverse dependency

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/setup-ssh-account-keys.sh

# All services that networking depends on log their outputs to the console 
# and are piped to the host terminal if the verbose flag is enabled.
StandardOutput=journal+console
StandardError=journal+console
