[Unit]
Description=Setup Certificate Issuer
DefaultDependencies=no
After=bootstrap-ic-node.service
Requires=bootstrap-ic-node.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecCondition=/opt/ic/bin/setup-certificate-issuer.sh
ExecStart=/usr/bin/true
