[Unit]
Description=Move version metric file to the metrics directory
DefaultDependencies=no
After=bootstrap-ic-node.service
Requires=bootstrap-ic-node.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/setup-version-metric.sh

[Install]
WantedBy=multi-user.target
