# Kernel cmdline parameters for launching the HostOS. For backwards
# compatibility, we substitute EXTRA_BOOT_ARGS from the extra_boot_args target at build time.
# BOOT_ARGS_A targets partition set "A" while BOOT_ARGS_B targets partition
# set "B" when booting the HostOS.
BOOT_ARGS_A="root=/dev/hostlvm/A_root console=ttyS0,115200 console=tty0 nomodeset video=1024x768 EXTRA_BOOT_ARGS"
BOOT_ARGS_B="root=/dev/hostlvm/B_root console=ttyS0,115200 console=tty0 nomodeset video=1024x768 EXTRA_BOOT_ARGS"
