[Unit]
Description=Recovery Upgrader Service
ConditionKernelCommandLine=recovery=1
After=network-online.target
Requires=network-online.target
After=guestos.service

[Service]
Type=oneshot
ExecStart=/opt/ic/bin/recovery-upgrader.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
