[Unit]
Description=Mount CONFIG device at /mnt/config
DefaultDependencies=no
After=systemd-udev-settle.service
Before=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/mount-config.sh
TimeoutSec=60

# All guestos services that networking depends on log their outputs to the
# console to be piped to the host terminal if the verbose flag is enabled.
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=local-fs.target
