[Unit]
Description=Grub version
Before=node_exporter.service
RequiresMountsFor=/boot/grub

[Service]
Type=oneshot
ExecStart=/opt/ic/bin/grub-version.sh

[Install]
WantedBy=multi-user.target
