[Unit]
Description=Log config partition

[Service]
Type=oneshot
ExecStart=/opt/ic/bin/log-config.sh hostos
RemainAfterExit=true

[Install]
WantedBy=multi-user.target