[Unit]
Description=Log config partition
After=bootstrap-ic-node.service
Wants=bootstrap-ic-node.service

[Service]
Type=oneshot
ExecStart=/opt/ic/bin/log-config.sh guestos
RemainAfterExit=true

[Install]
WantedBy=multi-user.target