[Unit]
Description=Update GuestOS Configuration
After=network.target

[Service]
Type=oneshot
ExecStart=/opt/ic/bin/config update-guestos-config --output-file /boot/config/config.json
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
