/.github/CODEOWNERS     @dfinity-lab/teams/owners-owners
/.gitlab/CODEOWNERS     @dfinity-lab/teams/owners-owners
/.dependencies/   @dfinity-lab/teams/dependency-managers

/bors.toml      @dfinity-lab/teams/idx

/dshell/        @dfinity-lab/teams/idx
/ci/            @dfinity-lab/teams/idx
/hs/            @dfinity-lab/teams/ic-testing-verification

/docs/          @dfinity-lab/teams/docs-owners
/docs/spec/replica/protocol/consensus_layer/	@dfinity-lab/teams/consensus-owners

# Protobuf linting config
/buf.yaml	@dfinity-lab/teams/message-routing-owners

# IC-OS project
/ic-os/                   @dfinity-lab/teams/node-team
/ic-os/boundary-guestos/  @dfinity-lab/teams/boundarynode-team @dfinity-lab/teams/node-team

# idx responsible for GitLab CI configs
# and the pre-commit config.
/.gitlab-ci.yml           @dfinity-lab/teams/idx
/.pre-commit-config.yaml  @dfinity-lab/teams/idx
/gitlab-ci/               @dfinity-lab/teams/idx
/gitlab-ci/src/std-fs-check/ @dfinity-lab/teams/node-team
/gitlab-ci/config/47--guest-os-test--e2e-scalability.yml                @dfinity-lab/teams/networking-team @dfinity-lab/teams/node-team
/gitlab-ci/config/00--benchmark-test-child-pipeline.yml                 @dfinity-lab/teams/networking-team @dfinity-lab/teams/node-team
/gitlab-ci/config/60--benchmark-test--spawn-benchmark-pipeline.yml      @dfinity-lab/teams/networking-team @dfinity-lab/teams/node-team
/rs/gitlab-ci-config.yml @dfinity-lab/teams/idx

# Release management
/launch/                   @dfinity-lab/teams/ic-build-qualification

# node team owns testnet configs
/testnet/                     @dfinity-lab/teams/node-team @dfinity-lab/teams/ic-build-qualification
/testnet/env/                 @dfinity-lab/teams/dcs
/testnet/ansible/ic_p8s_network_destroy.yml     @dfinity-lab/teams/dcs
/testnet/ansible/ic_p8s_network_update.yml      @dfinity-lab/teams/dcs
/testnet/ansible/ic_p8s_service_discovery_destroy.yml       @dfinity-lab/teams/dcs
/testnet/ansible/ic_p8s_service_discovery_install.yml       @dfinity-lab/teams/dcs
/testnet/ansible/roles/boundary_node/    @dfinity-lab/teams/networking-team @dfinity-lab/teams/dcs        
/testnet/ansible/roles/ic_p8s_network_update/     @dfinity-lab/teams/dcs
/testnet/ansible/roles/ic_p8s_service_discovery_install     @dfinity-lab/teams/dcs
/testnet/ansible/roles/icos_test_boundary_node      @dfinity-lab/teams/networking-team
/testnet/ansible/roles/jiralert_install     @dfinity-lab/teams/dcs
/testnet/ansible/roles/ssh_keys_dfinity_nodes      @dfinity-lab/teams/dcs

# ic-support group owns their documentation
/testnet/docs/                @dfinity-lab/teams/ic-support-eu @dfinity-lab/teams/ic-support-na

# testing and verification team owns the testing plan and pipeline and testscript folder
/docs/internal/testing/testing-plan.adoc                @dfinity-lab/teams/ic-testing-verification
/testnet/tests/pipeline/                                   @dfinity-lab/teams/ic-testing-verification
/testnet/tests/scripts/                                    @dfinity-lab/teams/ic-testing-verification @sasa-tomic
/testnet/tests/tools/                                      @dfinity-lab/teams/ic-testing-verification
# production testnet tests are owned by a team
/testnet/tests/scripts/subnet_recovery_nns_test.sh         @dfinity-lab/teams/ic-testing-verification @dfinity-lab/teams/orchestrator-owners
/testnet/tests/scripts/subnet_recovery_nns_upgrade_test.sh @dfinity-lab/teams/ic-testing-verification @dfinity-lab/teams/orchestrator-owners
/testnet/tests/scripts/subnet_recovery_basic_test.sh       @dfinity-lab/teams/ic-testing-verification @dfinity-lab/teams/orchestrator-owners
/testnet/tests/scripts/generic.sh                          @dfinity-lab/teams/ic-testing-verification
/testnet/tests/scripts/maximum_capacity_rejoin.sh          @dfinity-lab/teams/ic-testing-verification @dfinity-lab/teams/message-routing-owners
/testnet/tests/scripts/maximum_capacity_subnet_query.sh    @dfinity-lab/teams/ic-testing-verification @dfinity-lab/teams/execution-owners
/testnet/tests/scripts/maximum_capacity_subnet_update.sh   @dfinity-lab/teams/ic-testing-verification @dfinity-lab/teams/networking-team
/testnet/tests/scripts/maximum_capacity_xnet_slo.sh        @dfinity-lab/teams/ic-testing-verification @dfinity-lab/teams/message-routing-owners
/testnet/tests/scripts/network_reliability_test.sh         @dfinity-lab/teams/ic-testing-verification @dfinity-lab/teams/networking-team
/testnet/tests/scripts/nns-backup.sh                       @dfinity-lab/teams/ic-testing-verification @dfinity-lab/teams/orchestrator-owners
/testnet/tests/scripts/nns_backup_deprecated.sh            @dfinity-lab/teams/ic-testing-verification @dfinity-lab/teams/orchestrator-owners
/testnet/tests/scripts/nns_registry_changes.sh             @dfinity-lab/teams/ic-testing-verification @dfinity-lab/teams/consensus-owners
/testnet/tests/scripts/rejoin_test.sh                      @dfinity-lab/teams/ic-testing-verification @dfinity-lab/teams/message-routing-owners
/testnet/tests/scripts/subnet_query_workload.sh            @dfinity-lab/teams/ic-testing-verification @dfinity-lab/teams/networking-team

/testnet/tests/scripts/subnet_update_workload.sh           @dfinity-lab/teams/ic-testing-verification @dfinity-lab/teams/networking-team
/testnet/tests/scripts/xnet_slo_test.sh                    @dfinity-lab/teams/ic-testing-verification @dfinity-lab/teams/message-routing-owners
/testnet/release/                                          @dfinity-lab/teams/ic-build-qualification


/rs/artifact_manager/                @dfinity-lab/teams/consensus-owners
/rs/artifact_pool/                   @dfinity-lab/teams/consensus-owners
/rs/bitcoin/canister                 @dfinity-lab/teams/execution-owners
/rs/bitcoin/consensus/               @dfinity-lab/teams/execution-owners
/rs/bitcoin/types                    @dfinity-lab/teams/execution-owners
/rs/canister_client/                 @dfinity-lab/teams/networking-team
/rs/canister_sandbox/                @dfinity-lab/teams/execution-owners
/rs/canonical_state/                 @dfinity-lab/teams/message-routing-owners
/rs/certified_vars/                  @dfinity-lab/teams/message-routing-owners
/rs/config/                          @dfinity-lab/teams/interface-owners
/rs/consensus/                       @dfinity-lab/teams/consensus-owners
/rs/crypto/                          @dfinity-lab/teams/crypto-owners
/rs/cycles_account_manager/          @dfinity-lab/teams/execution-owners
/rs/depcheck                         @dfinity-lag/teams/interface-owners
/rs/drun/                            @dfinity-lab/teams/execution-owners
/rs/embedders/                       @dfinity-lab/teams/execution-owners
/rs/execution_environment/           @dfinity-lab/teams/execution-owners
/rs/guestos_vsock_agent/             @dfinity-lab/teams/node-team
/rs/http_handler/                    @dfinity-lab/teams/networking-team
/rs/ic_fondue/                       @dfinity-lab/teams/ic-testing-verification
/rs/ingress_manager/                 @dfinity-lab/teams/consensus-owners
/rs/interfaces/                      @dfinity-lab/teams/interface-owners
/rs/interfaces/p2p/                  @dfinity-lab/teams/networking-team
/rs/interfaces/src/artifact_pool.rs  @dfinity-lab/teams/consensus-owners
/rs/interfaces/src/consensus.rs      @dfinity-lab/teams/consensus-owners
/rs/interfaces/src/consensus_pool.rs @dfinity-lab/teams/consensus-owners
/rs/interfaces/src/dkg.rs            @dfinity-lab/teams/consensus-owners
/rs/interfaces/src/crypto.rs         @dfinity-lab/teams/crypto-owners
/rs/interfaces/src/crypto/           @dfinity-lab/teams/crypto-owners
/rs/interfaces/src/execution_environment.rs    @dfinity-lab/teams/execution-owners
/rs/interfaces/src/messaging.rs      @dfinity-lab/teams/message-routing-owners
/rs/interfaces/src/registry.rs       @dfinity-lab/teams/node-team
/rs/interfaces/src/rpc_bridge.rs     @dfinity-lab/teams/networking-team
/rs/interfaces/src/transport.rs      @dfinity-lab/teams/networking-team
/rs/memory_tracker/                  @dfinity-lab/teams/execution-owners
/rs/messaging/                       @dfinity-lab/teams/message-routing-owners
/rs/nns/                             @dfinity-lab/teams/nns-team @granstrom1
/rs/orchestrator/                    @dfinity-lab/teams/orchestrator-owners
/rs/p2p/                             @dfinity-lab/teams/networking-team
/rs/protobuf/def/crypto              @dfinity-lab/teams/crypto-owners
/rs/protobuf/def/messaging           @dfinity-lab/teams/message-routing-owners
/rs/protobuf/def/p2p                 @dfinity-lab/teams/networking-team
/rs/protobuf/def/registry            @dfinity-lab/teams/nns-team
/rs/protobuf/def/state               @dfinity-lab/teams/execution-owners @dfinity-lab/teams/message-routing-owners
/rs/protobuf/def/types               @dfinity-lab/teams/interface-owners
/rs/registry/admin/                  @dfinity-lab/teams/nns-team
/rs/registry/canister/               @dfinity-lab/teams/nns-team
/rs/registry/client/                 @dfinity-lab/teams/node-team
# Individual registry client helpers are owned by component owners
/rs/registry/client/src/helper/crypto/                      @dfinity-lab/teams/crypto-owners
/rs/registry/client/src/helper/crypto.rs                    @dfinity-lab/teams/crypto-owners
/rs/registry/client/src/helper/firewall.rs                  @dfinity-lab/teams/networking-team
/rs/registry/client/src/helper/node.rs                      @dfinity-lab/teams/node-owners
/rs/registry/client/src/helper/provisional_whitelist.rs     @dfinity-lab/teams/execution-owners
/rs/registry/client/src/helper/routing_table.rs             @dfinity-lab/teams/execution-owners @dfinity-lab/teams/message-routing-owners
/rs/registry/client/src/helper/subnet.rs                    @dfinity-lab/teams/consensus-owners
/rs/registry/client/src/helper/unassigned_nodes.rs          @dfinity-lab/teams/consensus-owners
/rs/registry/common/                 @dfinity-lab/teams/nns-team
/rs/registry/transport/              @dfinity-lab/teams/nns-team
/rs/replay/                          @dfinity-lab/teams/orchestrator-owners
/rs/replica/                         @dfinity-lab/teams/networking-team
/rs/replicated_state/                @dfinity-lab/teams/execution-owners @dfinity-lab/teams/message-routing-owners
/rs/rosetta-api/                     @dfinity-lab/teams/financial-integrations
/rs/rust_canisters/                  @dfinity-lab/teams/nns-team
/rs/rust_canisters/memory_test/      @dfinity-lab/teams/execution-owners
/rs/scenario_tests/                  @dfinity-lab/teams/ic-testing-verification
/rs/state_layout/                    @dfinity-lab/teams/execution-owners @dfinity-lab/teams/message-routing-owners
/rs/state_machine_tests/             @dfinity-lab/teams/message-routing-owners
/rs/state_manager/                   @dfinity-lab/teams/execution-owners @dfinity-lab/teams/message-routing-owners
/rs/state_tool/                      @dfinity-lab/teams/execution-owners @dfinity-lab/teams/message-routing-owners
/rs/system_api/                      @dfinity-lab/teams/execution-owners
/rs/test_utilities/src/crypto.rs     @dfinity-lab/teams/crypto-owners
/rs/test_utilities/src/crypto/       @dfinity-lab/teams/crypto-owners
/rs/tests/                           @dfinity-lab/teams/ic-testing-verification
/rs/tests/bin/prod_test_driver.rs    @dfinity-lab/teams/ic-testing-verification
/rs/tests/src/basic_health_test.rs   @dfinity-lab/teams/ic-testing-verification
/rs/tests/src/consensus.rs           @dfinity-lab/teams/consensus-owners @dfinity-lab/teams/ic-testing-verification
/rs/tests/src/consensus/             @dfinity-lab/teams/consensus-owners @dfinity-lab/teams/ic-testing-verification
/rs/tests/src/execution.rs           @dfinity-lab/teams/execution-owners @dfinity-lab/teams/ic-testing-verification
/rs/tests/src/execution/             @dfinity-lab/teams/execution-owners @dfinity-lab/teams/ic-testing-verification
/rs/tests/src/message_routing.rs     @dfinity-lab/teams/message-routing-owners
/rs/tests/src/message_routing/       @dfinity-lab/teams/message-routing-owners
/rs/tests/src/rosetta_test.rs        @dfinity-lab/teams/financial-integrations @dfinity-lab/teams/ic-testing-verification
/rs/tests/src/create_subnet.rs       @dfinity-lab/teams/ic-testing-verification @dfinity-lab/teams/nns-team
/rs/tests/src/networking             @dfinity-lab/teams/ic-testing-verification @dfinity-lab/teams/networking-team
/rs/tests/src/orchestrator/          @dfinity-lab/teams/orchestrator-owners @dfinity-lab/teams/ic-testing-verification
/rs/tests/src/orchestrator.rs        @dfinity-lab/teams/orchestrator-owners @dfinity-lab/teams/ic-testing-verification
/rs/transport/                       @dfinity-lab/teams/networking-team
/rs/transport_test_client/           @dfinity-lab/teams/networking-team
/rs/tree_deserializer/               @dfinity-lab/teams/message-routing-owners
/rs/constants                        @dfinity-lab/teams/interface-owners
/rs/types/base_types/                @dfinity-lab/teams/interface-owners
/rs/types/types/                     @dfinity-lab/teams/interface-owners
/rs/types/types/src/consensus.rs     @dfinity-lab/teams/consensus-owners
/rs/types/types/src/consensus/       @dfinity-lab/teams/consensus-owners
/rs/types/types/src/signature.rs     @dfinity-lab/teams/consensus-owners
/rs/types/types/src/signature/       @dfinity-lab/teams/consensus-owners
/rs/types/types/src/crypto.rs        @dfinity-lab/teams/crypto-owners
/rs/types/types/src/crypto/          @dfinity-lab/teams/crypto-owners
/rs/types/types/src/ic00.rs          @dfinity-lab/teams/execution-owners
/rs/types/ic00_types/                @dfinity-lab/teams/execution-owners
/rs/types/types/src/p2p.rs           @dfinity-lab/teams/networking-team
/rs/universal_canister/              @dfinity-lab/teams/execution-owners @dfinity-lab/teams/ic-testing-verification
/rs/validator/                       @dfinity-lab/teams/execution-owners
/rs/workload_generator/              @dfinity-lab/teams/node-team

# Scalability suite is currently owned by both node-team and networking team
# Most individual benchmarks are owned by individual teams
/scalability                         @dfinity-lab/teams/node-team @dfinity-lab/teams/networking-team
/scalability/max_capacity_large_memory.py                         @dfinity-lab/teams/execution-owners
/scalability/run_large_memory_experiment.py                                  @dfinity-lab/teams/execution-owners
/scalability/run_gossip_experiment.py                                  @dfinity-lab/teams/networking-team

# Capsule.toml belongs to IDX throughout the repo.
Capsule.toml              @dfinity-lab/teams/idx

[Nix]
*.nix @dfinity-lab/teams/idx
/nix/                     @dfinity-lab/teams/idx
/experimental/nix/        @dfinity-lab/teams/idx
/nix/overlays/haskell.nix @dfinity-lab/teams/ic-testing-verification

