[Unit]
Description=Discard unused blocks once a week
Requires=fstrim_tool.service

[Timer]
OnCalendar=weekly
AccuracySec=1h
Persistent=true
RandomizedDelaySec=12h

[Install]
WantedBy=timers.target
