[Unit]
Description=Generate IC Configuration
# We must wait for IC bootstrap to complete: It writes various
# state files and may also be needed to obtain network config.
After=bootstrap-ic-node.service
Wants=bootstrap-ic-node.service
# We must also wait for storage permission fixup to have finished.
After=setup-permissions.service
Wants=setup-permissions.service
# We must also wait for the network to become online: We must
# put the correct address(es) into the ic.json5, but in case
# of dynamic assignment they only become available once all
# network interfaces are up.
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/ic/bin/generate-ic-config.sh -n /boot/config/network.conf -c /boot/config/nns.conf -b /boot/config/backup.conf -m /boot/config/malicious_behavior.conf -q /boot/config/query_stats.conf -t /boot/config/jaeger_addr.conf -i /opt/ic/share/ic.json5.template -o /run/ic-node/config/ic.json5

[Install]
WantedBy=multi-user.target
