#!/bin/sh

set -e

SCRIPT="$(basename $0)[$$]"

write_log() {
    local message=$1

    if [ -t 1 ]; then
        echo "${SCRIPT} ${message}" >/dev/stdout
    fi

    logger -t ${SCRIPT} "${message}"
}

# Setup tap device
# TODO: This should be done in network service.
# Currently here to keep all SEV changes to one place.
TAP_INTERFACE="tap0"
BRIDGE_INTERFACE="br6"

# Create a tap interface and connect it to bridge interface
setup() {
  ip tuntap add dev $TAP_INTERFACE mode tap
  ip link set dev $TAP_INTERFACE up
  ip link set $TAP_INTERFACE master $BRIDGE_INTERFACE

  write_log "SEV GuestOS setup tap interface"

}

# Cleanup resources
cleanup() {
  # Delete the tap interface
  ip link set dev $TAP_INTERFACE down
  ip tuntap del dev $TAP_INTERFACE mode tap

  write_log "Cleanup sev guestos resources"
}

# Launch QEMU to setup the SEV-SNP GuestOS
start_qemu() {
    write_log "Starting SEV GuestOS"

  /usr/local/bin/qemu-system-x86_64 \
    -name guest=guestos,debug-threads=on \
    -uuid 7c0cfb2b-2304-4e5c-8caf-564de0efd92f \
    -enable-kvm \
    -machine pc-q35-6.2,usb=off,dump-guest-core=off \
    -cpu EPYC-v4,topoext=on,l3-cache=off \
    -m {{ resources_memory }}G \
    -overcommit mem-lock=off \
    -smp 2,sockets=1,dies=1,cores=2,threads=1 \
    -drive if=pflash,format=raw,unit=0,file=/usr/local/share/qemu/OVMF_CODE.fd,readonly=on \
    -drive file=/dev/hostlvm/guestos,if=none,id=disk0,format=raw \
    -drive file=/run/ic-node/config.img,if=none,id=disk1,format=raw \
    -kernel {{ kernel }} \
    -initrd {{ initrd }} \
    -append "BOOT_IMAGE=/vmlinuz root=/dev/vda5 console=ttyS0 dfinity.system=A dfinity.boot_state=stable {{ extra_boot_args }}" \
    -device usb-ehci,id=ehci \
    -device usb-storage,bus=ehci.0,drive=disk1,removable=on,port=1 \
    -device virtio-blk,drive=disk0,id=virtblk0,bus=pcie.0,addr=0x7,disable-legacy=on,iommu_platform=on,bootindex=4 \
    -device pcie-root-port,port=0x8,chassis=1,id=pci.1,bus=pcie.0,multifunction=on,addr=0x4 \
    -device pcie-root-port,port=0x9,chassis=2,id=pci.2,bus=pcie.0,addr=0x4.0x1 \
    -device pcie-root-port,port=0xa,chassis=3,id=pci.3,bus=pcie.0,addr=0x4.0x2 \
    -device pcie-root-port,port=0xb,chassis=4,id=pci.4,bus=pcie.0,addr=0x4.0x3 \
    -device virtio-serial-pci,id=virtio-serial0,bus=pci.3,addr=0x0 \
    -netdev tap,id=net0,ifname=$TAP_INTERFACE,vhost=on,script=no,downscript=no \
    -device virtio-net-pci,netdev=net0,id=hostnet0,mac={{ mac_address }},bus=pci.1,addr=0x0 \
    -object rng-random,id=objrng0,filename=/dev/urandom \
    -device virtio-rng-pci,rng=objrng0,id=rng0,bus=pci.4,addr=0x0 \
    -device vhost-vsock-pci,id=vsock0,guest-cid=3,bus=pci.2,addr=0x0 \
    -rtc base=utc,driftfix=slew -global kvm-pit.lost_tick_policy=delay -no-hpet -no-shutdown \
    -global ICH9-LPC.disable_s3=1 -global ICH9-LPC.disable_s4=1 -boot strict=on \
    -machine memory-encryption=sev0,vmport=off \
    -object memory-backend-memfd-private,id=ram1,size=2048M,share=true \
    -object sev-snp-guest,id=sev0,cbitpos=51,reduced-phys-bits=1,discard=none \
    -machine memory-backend=ram1,kvm-type=protected \
    -nographic \
    -msg timestamp=on
}

# Determine action based on the passed argument
# - 'start': Sets up the environment, starts QEMU
# - 'stop': Cleans up resources related to the SEV-SNP GuestOS
case "$1" in
    start)
        setup
        start_qemu
        ;;
    stop)
        cleanup
        ;;
    *)
        echo "Usage: $0 {start|stop}"
        exit 1
        ;;
esac

exit 0
