[Unit]
Description=SetupOS config process
Before=generate-network-config.service
Before=setupos.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=/opt/ic/bin/preload-config.sh
ExecStart=/opt/ic/bin/config create-setupos-config
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
