[Unit]
Description=IC Canister HTTP Provider
After=bootstrap-ic-node.service
Wants=bootstrap-ic-node.service
After=network-online.target
Wants=network-online.target
Requires=ic-https-outcalls-adapter.socket
StartLimitIntervalSec=0

[Service]
User=ic-http-adapter
Environment=RUST_BACKTRACE=1
ExecStartPre=+/opt/ic/bin/generate-https-outcalls-adapter-config.sh -o /run/ic-node/config/ic-https-outcalls-adapter.json
ExecStart=/opt/ic/bin/ic-https-outcalls-adapter /run/ic-node/config/ic-https-outcalls-adapter.json
Restart=always

[Install]
WantedBy=ic-replica.service
Also=ic-https-outcalls-adapter.socket
