[Unit]
Description=Generate store encryption key
DefaultDependencies=no
RequiresMountsFor=/boot/config

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/generate-store-key.sh

[Install]
WantedBy=multi-user.target
