[Unit]
Description=Check IPv4 connectivity

[Install]
WantedBy=multi-user.target

[Service]
# Disable systemd start and stop logs
LogLevelMax=1
SysLogLevel=2

Type=oneshot
ExecStart=/opt/ic/bin/ipv4-connectivity-check.sh
