[Unit]
Description=Update ssh account keys
Before=setup-ssh-user-keys.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/deploy-updated-ssh-account-keys.sh

[Install]
RequiredBy=setup-ssh-user-keys.service
WantedBy=multi-user.target
