[Unit]
Description=IC replica

After=generate-ic-config.service
Wants=generate-ic-config.service
# Replica & orchestrator need ic-crypto-csp service running.
After=ic-crypto-csp.service
Wants=ic-crypto-csp.service
ConditionPathExists=/run/config/guest_vm_type/default
# Network-online.target and systemd-journal-gatewayd.service shutdown dependencies are necessary for observing late reboot logs
After=network-online.target
Wants=network-online.target
After=systemd-journal-gatewayd.service
Wants=systemd-journal-gatewayd.service

[Service]
UMask=026
Type=simple
User=ic-replica

Environment=RUST_BACKTRACE=1
Environment=RUST_MIN_STACK=8192000
ExecStart=/opt/ic/bin/orchestrator --replica-binary-dir /var/lib/ic/data/images --cup-dir /var/lib/ic/data/cups --replica-config-file /run/ic-node/config/ic.json5 --enable-provisional-registration --ic-binary-directory /opt/ic/bin --orchestrator-data-directory /var/lib/ic/data/orchestrator --version-file /opt/ic/share/version.txt
LimitNOFILE=16777216
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
