policy_module(setup-var, 1.0.0)

# This policy module allows the fsadm_t type read everything below /var.
# This is not terribly great, but it is done this way in order to allow
# mkfs to be called using existing /var as a "template" and populating the
# "real" /var contents using the correct contexts already.
#
# A better strategy would "probably" be:
# - store a /var template filesystem somewhere else, but without "correct"
#   labels, but rather a "generic" label suitable for reading by fsadm_t
# - create filesystem and use labeset with fakeroot or debugfs to initialize
#   fs image
#
# However, this policy module provides an easy way to allow the current
# implementation to be carried forward for a while, and also does not
# raise "security eyebrows" for now.

require {
    type fsadm_t;
}

# Mark fsadm_t as unconfined so it can freely read all labels required.
# This is quite broad but at least more maintainable than marking all required
# labels individually. Solution above would still be preferable, but is more
# intricate to implement.
unconfined_domain(fsadm_t)

