[Unit]
Description=Filebeat ships systemd journal entries to Elasticsearch
Documentation=https://www.elastic.co/beats/filebeat
Wants=network-online.target
After=network-online.target
After=bootstrap-ic-node.service
Wants=bootstrap-ic-node.service
# We must wait for var to be mounted over before interacting with it
After=var.mount
Wants=var.mount

[Service]
User=filebeat
Group=filebeat
Environment="GODEBUG='madvdontneed=1'"

ExecStartPre=+/opt/ic/bin/setup-filebeat-permissions.sh
ExecStartPre=+/opt/ic/bin/generate-filebeat-config.sh -i /etc/filebeat/filebeat.yml.template -o /run/ic-node/etc/filebeat/filebeat.yml


# Only start Filebeat if configuration file is generated
ExecStart=/bin/sh -c '\
  if [ -f /run/ic-node/etc/filebeat/filebeat.yml ]; then \
    exec /usr/local/bin/filebeat \
      --environment systemd -e \
      --path.home /var/lib/filebeat \
      --path.config /run/ic-node/etc/filebeat \
      --path.data /var/lib/filebeat \
      --path.logs /var/log/filebeat; \
  else \
    exit 0; \
  fi'

Restart=on-failure

[Install]
WantedBy=multi-user.target