# This provides some configuration for ansible.
# XXX: part of the configuration -- in particular everything related to mitogen
# -- is provided through environment variables; see our Ansible override in
# nix/overlays/default.nix. The Mitogen version pinned is defined in
# nix/sources.json.

[defaults]
host_key_checking=False
inventory=unspecified
display_skipped_hosts=False
roles_path=ansible/roles
callback_whitelist = profile_tasks
stdout_callback = debug

[ssh_connection]
pipelining = True

[callback_profile_tasks]
output_limit=all
sort_order=none
