[Unit]
Description=Set up logical volumes on first boot
DefaultDependencies=no
Requires=setup-encryption.service
After=setup-encryption.service

[Install]
WantedBy=local-fs.target

[Service]
StandardOutput=journal+console
StandardError=journal+console
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/setup-lvs.sh
