# Kernel cmdline parameters for launching the GuestOS. For backwards
# compatibility, we substitute EXTRA_BOOT_ARGS from the extra_boot_args target at build time.
# BOOT_ARGS_A targets partition set "A" while BOOT_ARGS_B targets partition
# set "B" when booting the GuestOS.
BOOT_ARGS_A="root=/dev/vda5 console=ttyS0 nomodeset EXTRA_BOOT_ARGS"
BOOT_ARGS_B="root=/dev/vda8 console=ttyS0 nomodeset EXTRA_BOOT_ARGS"
