# Kernel cmdline parameters for launching the GuestOS.
# BOOT_ARGS_A targets partition set "A" while BOOT_ARGS_B targets partition set "B"
#
# To run system with SELinux in PERMISSIVE mode, change enforcing=1 to enforcing=0:
# the system will use SELinux and keep track of operations that would
# be prohibited, but will only log but not actually deny them. This is
# useful for debug and policy development.
BOOT_ARGS_A="root=/dev/vda5 console=ttyS0 nomodeset dfinity.system=A security=selinux selinux=1 enforcing=1 root_hash=ROOT_HASH"
BOOT_ARGS_B="root=/dev/vda8 console=ttyS0 nomodeset dfinity.system=B security=selinux selinux=1 enforcing=1 root_hash=ROOT_HASH"
