[Unit]
Description=Manage GuestOS virtual machine
Requires=libvirtd.service
After=libvirtd.service

RequiresMountsFor=/var

[Service]
Type=notify
ExecStartPre=/opt/ic/bin/detect-first-boot.sh
ExecStart=/opt/ic/bin/guest_vm_runner
ExecStartPost=/opt/ic/bin/manageboot.sh hostos confirm
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
