[Unit]
Description=Generate GuestOS configuration
Before=systemd-networkd.service
# TODO: Remove update-config references in NODE-1518
After=update-config.service
Wants=update-config.service
RequiresMountsFor=/var

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/generate-guestos-config.sh

[Install]
WantedBy=multi-user.target
