# Kernel cmdline parameters for launching the HostOS.
# BOOT_ARGS_A targets partition set "A" while BOOT_ARGS_B targets partition set "B"
BOOT_ARGS_A="root=/dev/hostlvm/A_root console=ttyS0,115200 console=tty0 nomodeset video=1024x768 security=selinux selinux=1 enforcing=0 default_hugepagesz=1G hugepagesz=1G mem_encrypt=on kvm_amd.sev=1"
BOOT_ARGS_B="root=/dev/hostlvm/B_root console=ttyS0,115200 console=tty0 nomodeset video=1024x768 security=selinux selinux=1 enforcing=0 default_hugepagesz=1G hugepagesz=1G mem_encrypt=on kvm_amd.sev=1"
