# Kernel cmdline parameters for launching the SetupOS.
# SetupOS uses a single boot configuration (no A/B partitioning)
BOOT_ARGS="root=PARTUUID=7C0A626E-E5EA-E543-B5C5-300EB8304DB7 console=ttyS0,115200 console=tty0 nomodeset video=1024x768 security=selinux selinux=1 enforcing=0"
