[Unit]
Description=Log HostOS config partition

[Service]
Type=oneshot
ExecStart=/opt/ic/bin/log-config.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target