[Unit]
Description=ICX Proxy Service
After=syslog.target

[Service]
User=root
Group=root
WorkingDirectory=/etc/nginx/ic_networks/{{ ic }}
# The line break is required to workaround system line length limits
ExecStart=/etc/nginx/ic_networks/{{ ic }}/icx-proxy --address {{ icx_address }} --replica {{ icx_replica }} {% for a in dns_aliases %} --dns-alias {{ a }} \
{% endfor %} {% if icx_proxy_debug %} --debug {% endif %} {% if icx_proxy_trace %} -vv {% endif %}

# DO NOT REMOVE THE PRECEEDING BLANK LINK
# ansible eats the preceeding LF during template instantiation
# and icx-proxy can not handle a comment argument
Restart=always
RestartSec=10
KillSignal=SIGINT
Environment=RUST_BACKTRACE=1
StartLimitBurst=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
