[Unit]
Description=Upgrade grub.cfg file
RequiresMountsFor=/boot/grub

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/grub-upgrader.sh

[Install]
WantedBy=multi-user.target
