[Unit]
Description=Generate GuestOS configuration
Before=systemd-networkd.service
After=store-hsm.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/generate-guestos-config.sh

[Install]
WantedBy=multi-user.target
