[Unit]
Description=Monitor NVMe SMART log info 
Requires=node_exporter.service
After=node_exporter.service

[Service]
Type=oneshot
ExecStart=/opt/ic/bin/monitor-nvme.sh

[Install]
WantedBy=multi-user.target
