[Unit]
Description=Monitor GuestOS virtual machine
Requires=libvirtd.service
After=libvirtd.service
Requires=generate-guestos-config.service
After=generate-guestos-config.service

[Service]
Type=oneshot
ExecStart=/opt/ic/bin/monitor-guestos.sh

[Install]
WantedBy=multi-user.target
