[Unit]
Description=Generate ssh keys on first boot
Before=ssh.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/setup-ssh-keys.sh

[Install]
WantedBy=multi-user.target
