[Unit]
Description=Set up hostname
Before=systemd-networkd.target
DefaultDependencies=no
Before=systemd-networkd.service
After=systemd-tmpfiles-setup.service
After=store-hsm.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/setup-hostname.sh --type=host

[Install]
WantedBy=multi-user.target
