[Unit]
Description=Manage SEV GuestOS virtual machine
Requires=generate-guestos-config.service
After=generate-guestos-config.service
ConditionPathExists=/opt/ic/share/SEV

[Service]
Type=simple
ExecStartPre=/opt/ic/bin/detect-first-boot.sh
ExecStart=/var/lib/sev_guestos.sh start
ExecStartPost=/opt/ic/bin/manageboot.sh confirm
ExecStopPost=/var/lib/sev_guestos.sh stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
