[Unit]
Description=Store HSM to config partition

[Service]
Type=oneshot
ExecStart=/opt/ic/bin/hsm-utils.sh --save

[Install]
WantedBy=multi-user.target
