policy_module(filebeat, 1.0.0)

###############################################################################
# Types

# Domain for filebeat process to run under.
type filebeat_t;
domain_type(filebeat_t)

# The filebeat binary.
type filebeat_exec_t;
files_type(filebeat_exec_t)

# The state directory: /var/lib/filebeat
type filebeat_var_lib_t;
files_type(filebeat_var_lib_t)

# The log directory: /var/log/filebeat
type filebeat_var_log_t;
files_type(filebeat_var_log_t)

# The run-time generated configuration file (and its parent directory):
# /run/ic-node/etc/filebeat{/filebeat.conf)
type filebeat_conf_t;
files_type(filebeat_conf_t)

###############################################################################
# System integration bits

# Allow tmpfiles to manage the filebeat files
systemd_tmpfilesd_managed(filebeat_conf_t, dir)
require { type systemd_tmpfiles_t; }
list_dirs_pattern(systemd_tmpfiles_t, filebeat_conf_t, filebeat_conf_t)

# Allow it to be spawned from init scripts.
init_daemon_domain(filebeat_t, filebeat_exec_t)

###############################################################################
# Primary rights for operation

# Allow filebeat to perform its primary function, namely to read
# the journal files.
systemd_read_journal_files(filebeat_t)

# It wants to send the logs to remote host, allow unrestricted TCP for
# this for now. Maybe this can be reasonably constrained more tightly.
allow filebeat_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(filebeat_t)
corenet_tcp_sendrecv_generic_node(filebeat_t)
corenet_tcp_sendrecv_all_ports(filebeat_t)
corenet_tcp_connect_all_ports(filebeat_t)
corenet_all_recvfrom_unlabeled(filebeat_t)

###############################################################################
# Other required rights for operation

# Read generic etc files (e.g. nsswitch.conf)
files_read_etc_files(filebeat_t)

# Read CA certificate
miscfiles_read_generic_certs(filebeat_t)

# Allow using locales
miscfiles_read_localization(filebeat_t)

# Read network config files (/etc/resolv.conf & friends)
sysnet_read_config(filebeat_t)

# Read generated config file
ic_read_generated_config(filebeat_t, filebeat_conf_t)

# Manage state files in /var/lib/filebeat
files_search_var_lib(filebeat_t)
manage_files_pattern(filebeat_t, filebeat_var_lib_t, filebeat_var_lib_t)
allow filebeat_t filebeat_var_lib_t:dir create;

# Access own log files
logging_list_logs(filebeat_t)
manage_files_pattern(filebeat_t, filebeat_var_log_t, filebeat_var_log_t)

# Wants to get its own scheduling information
allow filebeat_t filebeat_t : process { getsched };

# For some reason it wants to also communicate UDP (DNS?), also allow
# unrestricted for now.
allow filebeat_t self:udp_socket create_socket_perms;
corenet_udp_sendrecv_generic_if(filebeat_t)
corenet_udp_sendrecv_generic_node(filebeat_t)
corenet_udp_sendrecv_all_ports(filebeat_t)
corenet_all_recvfrom_unlabeled(filebeat_t)

# Filebeat wants to access netlink. Not clear why -- this should
# rather not be allowed, but it might be that it tries a route lookup
# to determine its own host address (to be determined).
allow filebeat_t filebeat_t : netlink_route_socket { bind create getattr nlmsg_read read write };

# Filebeat wants to read /proc/stat. That may be justified to get
# some kernel information.
require {
    type proc_t;
}
read_files_pattern(filebeat_t, proc_t, proc_t)

# Filebeat wants to read PID-1 (systemd) cgroup for getting
# network meta data (netinfo.enabled: true).
allow filebeat_t init_t:dir search;
allow filebeat_t init_t:file { getattr open read };

# Filebeat wants to get filesystem information for various
# filesystems. There is no reason why it would need to, deny and
# silence.
require {
    type tmpfs_t;
    type fs_t;
}
dontaudit filebeat_t tmpfs_t : filesystem { getattr };
dontaudit filebeat_t fs_t : filesystem { getattr };
dontaudit filebeat_t usr_t:file { getattr open read };

# Filebeat might be looking in `/bin` for its own executable.
require {
    type bin_t;
}
search_dirs_pattern(filebeat_t, bin_t, bin_t)

# Allow to read `/sys/fs/cgroup/unified/system.slice/filebeat.service/cgroup.controllers`
fs_read_cgroup_files(filebeat_t)
allow filebeat_t cgroup_t:dir read;

# Allow to read and write from/to own fifo pipe
allow filebeat_t self:fifo_file { read write };

# allow self-signal
allow filebeat_t filebeat_t : process { signal };

# Filebeat checks `hpage_pmd_size`
dev_read_sysfs(filebeat_t)

# For some reason, it wants to read this
kernel_read_vm_overcommit_sysctl(filebeat_t)
