[Unit]
Description=Collect custom metrics every minute
Requires=metrics_tool.service

[Timer]
OnBootSec=60s
OnUnitActiveSec=60s
Unit=metrics_tool.service

[Install]
WantedBy=timers.target
