[Unit]
Description=Setup shared-data storage
DefaultDependencies=no
Requires=dev-mapper-store\x2dshared\x2d\x2ddata.device
After=dev-mapper-store\x2dshared\x2d\x2ddata.device
Before=systemd-fsck@dev-mapper-store\x2dshared\x2d\x2ddata.service
Before=var-lib-ic-data\x2dnode.mount
# Add an explicit sequencing to LVM setup. The observed problem is that the
# LV apparently becomes notified as "ready" through udev before the actual
# lvcreate command has finished. This results in filesystem setup racing with
# lvcreate performing a "wipe" of the LV, resulting in a destroyed filesystem
# in turn.
After=setup-lvs.service
Requires=setup-lvs.service

[Install]
RequiredBy=systemd-fsck@dev-mapper-store\x2dshared\x2d\x2ddata.service
RequiredBy=var-lib-ic-data\x2dnode.mount
WantedBy=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/ic/bin/setup-shared-data.sh
